{% extends 'layout.html' %}

{% block content %}

<div style="margin-bottom: 50px;">
    <div class="col-xs-9 clear_padding">
        <button id="addBtn" type="button" class="btn btn-success">
            <span style="font-size: 10px;">新建头像</span>
        </button>
    </div>

    <div class="col-xs-3 clear_padding">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for name" name="search"
                    value="{{ search }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        头像列表
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>管理员</th>
                <th>头像</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in queryset %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.administrator.username }}</td>
                <td>
                    <img src="../../media/{{ obj.image_path }}" alt="文件丢失" style="height:20px;">
                </td>
                <td>
                    <button uid="{{ obj.id }}" type="button" class="btn btn-primary btn-xs editBtn">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button uid="{{ obj.id }}" type="button" class="btn btn-danger btn-xs deleteBtn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="text-align: center;">
    <ul class="pagination">
        {{ page_string }}
    </ul>
</div>

<!--删除 模态框-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">删除头像</h4>
            </div>
            <div class="modal-body">
                <span>无法恢复！</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="deleteConfirmBtn" type="button" class="btn btn-danger">确 认</button>
            </div>
        </div>
    </div>
</div>

<!--新建 模态框-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">新建头像</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" novalidate enctype="multipart/form-data">
                    <div class="clearfix">
                        {% for field in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>{{field.label}}</label>
                                {{field}}
                                <span class="error-msg" style="color: red; position: absolute;"></span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="addConfirmBtn" type="button" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </div>
</div>

<!--编辑 模态框-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">编辑头像</h4>
            </div>
            <div class="modal-body">
                <form id="editForm" novalidate enctype="multipart/form-data">
                    <div class="clearfix">
                        {% for field in form %}
                        <div class="col-xs-6">
                            <div class="form-group" style="position: relative;margin-bottom: 20px;">
                                <label>{{field.label}}</label>
                                {{field}}
                                <span class="error-msg" style="color: red; position: absolute;"></span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="editConfirmBtn" type="button" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(() => {
        var UID;
        $("#nav_image").addClass("active");
        $("#jumpBtn").click(function () {
            $.ajax({
                url: "/image/jump/?search={{ search }}",
                type: "get",
                data: $("#jumpForm").serialize(),
                dataType: "JSON",
                success: function (res) {
                    var url = "/image/list/?search=" + res.search + "&page=" + res.page
                    window.location.href = url;
                }
            })
        })

        deleteBtnEvent();
        deleteConfirmEvent();
        addBtnEvent();
        addConfirmEvent();
        editBtnEvent();
        editConfirmEvent();


    })
    function deleteBtnEvent() {
        $(".deleteBtn").click(function () {
            UID = $(this).attr("uid");
            $('#deleteModal').modal('show');
        })
    }
    function deleteConfirmEvent() {
        $("#deleteConfirmBtn").click(function () {
            $.ajax({
                url: "/image/delete/",
                type: "get",
                data: {
                    uid: UID,
                },
                dataType: "JSON",
                success: function (res) {
                    UID = undefined;
                    if (res.status) {
                        //关闭模态框
                        //$('#deleteModal').modal('hide');
                        //$("tr[uid='" + UID + "']").remove();
                        //刷新当前网址 
                        location.reload();
                    }
                    else {
                        alert(res.error);
                    }
                }
            })
        })
    }
    function addBtnEvent() {
        $("#addBtn").click(function () {
            $(".error-msg").empty();
            $("#addForm")[0].reset();
            $('#addModal').modal('show');
        })
    }
    function addConfirmEvent() {
        $("#addConfirmBtn").click(() => {
            var formData = new FormData($("#addForm")[0]);
            console.log(formData)

            $(".error-msg").empty();
            $.ajax({
                url: "/image/add/",
                type: "post",
                data: formData,
                dataType: "JSON",
                contentType: false, //必须
		        processData: false, //必须
                success: function (res) {
                    if (res.status) {
                        //alert("添加成功");

                        // 清空表单  $("#addForm")是jQuery对象 -> $("#addForm")[0] DOM对象
                        $("#addForm")[0].reset();
                        //关闭模态框
                        $('#addModal').modal('hide');
                        //刷新当前网址 
                        location.reload();
                    }
                    else {
                        $.each(res.errors, function (col_name, error_list) {
                            $("#id_" + col_name).next().text(error_list[0]);
                        })
                    }
                }
            })
        })

    }
    function editBtnEvent() {
        $(".editBtn").click(function () {
            UID = $(this).attr("uid");
            $(".error-msg").empty();
            $("#editForm")[0].reset();
            $.ajax({
                url: "/image/info/",
                type: "get",
                data: {
                    uid: UID,
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        $.each(res.data, function (k, v) {
                            $("#editForm #id_" + k).val(v);
                        })
                        $('#editModal').modal('show');
                    }
                    else {
                        alert(res.error);
                    }
                }
            })
        })
    }
    function editConfirmEvent() {
        $("#editConfirmBtn").click(() => {
            var formData = new FormData($("#editForm")[0]);
            $(".error-msg").empty();
            $.ajax({
                url: "/image/edit/?uid=" + UID,
                type: "post",
                data: formData,
                dataType: "JSON",
                contentType: false, //必须
		        processData: false, //必须
                success: function (res) {
                    if (res.status) {
                        //alert("添加成功");
                        // 清空表单  $("#addForm")是jQuery对象 -> $("#addForm"")[0] DOM对象
                        $("#editForm")[0].reset();
                        //关闭模态框
                        $('#editModal').modal('hide');
                        //刷新当前网址 
                        location.reload();
                    }
                    else {
                        if (res.error) {
                            alert(res.error);
                        }
                        else {
                            $.each(res.errors, function (col_name, error_list) {
                                $("#editForm #id_" + col_name).next().text(error_list[0]);
                            })
                        }
                    }
                }
            })
        })

    }
</script>
{% endblock %}